{% extends 'shop/basic.html'  %}

{% block title %} About Us {% endblock %}
{% block body %}
<main>
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Cart!</h1>
      <p>My Awesome Cart Private Limited is an Indian e-commerce company, headquartered in Bangalore, and incorporated in Singapore as a private limited company. The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products. The service competes primarily with Amazon India and domestic rival Snapdeal. As of FY23, Flipkart held a 48% market share in the Indian e-commerce industry. Flipkart has a dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.</p>
      <p><a class="btn btn-primary btn-lg" href="/shop/" role="button">Back to Home &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Our Stores</h2>
        <p>Currently running 50 plus store all across the India with the base in Mumbai, India. </p>
        <p><a class="btn btn-secondary" href="/blog/blogpost/2" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Collaborations & Partnerships</h2>
        <p>Discover the magic of our collaborations! We're thrilled to team up with top-tier brands and influencers, bringing you exclusive collections that redefine style. From iconic partnerships to exciting influencer collaborations, our online fashion destination is your go-to for cutting-edge designs and trendsetting looks. Stay ahead of the curve and shop the hottest collaborations only available here! </p>
      </div>
      <div class="col-md-4">
        <h2>Customer Experience</h2>
        <p>Experience fashion like never before! At MyAwesomeCart, we're dedicated to ensuring every moment with us is exceptional. From seamless online shopping to personalized styling advice, our commitment to customer satisfaction is unwavering. Explore our curated collections, crafted with the finest materials and attention to detail, and discover why our loyal customers keep coming back for more. Join us on a journey of style, comfort, and unparalleled service – because at MyAwesomeCart, your satisfaction is our ultimate priority.</p>
        <p><a class="btn btn-secondary" href="/blog/blogpost/4" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>


{% endblock %}